.copyright {
    display: flex;
    background: #071737;
    height: 99px;
    justify-content: center;
    align-items: center;

    .allrights {
        @include font(Roboto, normal, 600, 15px, 18px, #FFFFFF);
    }
}