@media all and (max-width:1100px) {
    .live {
        gap: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .sovmestimost .sovmestimostelements {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    }
    @media all and (max-width:800px) {
        .banner {
            padding-top: 110px;
            padding-bottom: 24px;
            display: flex;
            width: 100%;
            background: linear-gradient(82.14deg, rgba(7, 20, 50, 0.7) 31.87%, rgba(11, 23, 49, 0) 87.21%), url(../images/jpg/banner.jpg);
            background-size: cover;
            display: flex;
            justify-content: center;
        }
        .banner .bannertextarea {
            display: flex;
            flex-direction: column;
            width: 599px;
            align-items: center;
            padding: 0%;
        }
        .live {
            gap: 30px;
            display: grid;
            grid-template-columns: 1fr;
        }
        .sovmestimost .sovmestimostelements {
            display: grid;
            grid-template-columns: 1fr;
        }
        .onas .onastextarea {
            width: 500px;
    height: 620px;
    padding: 30px;
        }
        .onlinecasino .contentonline {
            width: 500px;
            padding: 30px;
        }
        .news .subscibe .subscribeemail {
            border: 1px solid #14213A;
            width: 220px;
            height: 50px;
            background: #14213A;
        }
        .contactsection .onestring {
            display: flex;
            align-items: center;
            gap: 35px;
            flex-direction: column;
        }
        .contactsection .onestring .name {
            border: 1px solid #14213A;
            width: 400px;
            height: 50px;
            background: #14213A;
        }
        .contactsection .twocolumnform .subject {
            margin-top: 30px;
            border: 1px solid #14213A;
            width: 400px;
            height: 50px;
            background: #14213A;
        }
        .contactsection .twocolumnform .textarea {
            margin-top: 30px;
            margin-bottom: 30px;
            border: 1px solid #14213A;
            background: #14213A;
            width: 400px;
            height: 210px;
        }
        .contactsection {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            background: #0F1B33;
            padding-top: 30px;
            padding-bottom: 130px;
            justify-content: center;
        }
        .footer {
            padding-top: 30px;
            gap: 30px;
            display: flex;
            padding-bottom: 60px;
            display: flex;
            background: linear-gradient(0deg, rgba(15, 27, 51, 0.9), rgba(15, 27, 51, 0.9)), url(../images/jpg/footerimage.jpg);
            background-size: cover;
            flex-direction: column;
            align-items: center;
        }
}