
.roulettepage {
    @extend %pageonas;
    .imgroulettepage{
        background:url(../images/jpg/rouletteonpage.jpg);
        width: 735px;
        height: 480px;
    }
}
.pokerpage {
    @extend %pageonas;
    .imgroulettepage{
        background:url(../images/jpg/pokeronpage.jpg);
        width: 735px;
        height: 480px;
    }
}
.rusterspage {
    @extend %pageonas;
    .imgroulettepage{
        background:url(../images/jpg/rustersonpage.jpg);
        width: 735px;
        height: 480px;
    }
}
.kenopage {
    @extend %pageonas;
    .imgroulettepage{
        background:url(../images/jpg/kenoonpage.jpg);
        width: 735px;
        height: 480px;
    }
}
.horsepage {
    @extend %pageonas;
    .imgroulettepage{
        background:url(../images/jpg/horseracingonpage.jpg);
        width: 735px;
        height: 480px;
    }
}
.dogpage {
    @extend %pageonas;
    .imgroulettepage{
        background:url(../images/jpg/dogonpage.jpg);
        width: 735px;
        height: 480px;
    }
}