@mixin font($family, $style, $weight, $size, $line, $color) {
    font-family: $family;
    font-style: $style;
    font-weight: $weight;
    font-size: $size;
    line-height: $line;
    color: $color;
}

%gameblock {
    width: 312px;
    height: 262px;
    background-repeat: no-repeat;
    border-radius: 4px;
}

%icon {
    display: flex;
    width: 70px;
    height: 70px;
    background: #14213A;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

%footerimage {
    width: 97px;
    height: 100px;
}
%pageonas {
    
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        background: #09162F;
        gap: 20px;
        justify-content: space-evenly;
        padding-top: 110px;
        padding-bottom: 30px;
        .onastextarea {
            width: 735px;
            height: 480px;
        }
}

body {
    margin: 0px;
    padding: 0px;
}

h1 {
    @include font(Roboto, normal, 800, 64px, 76px, #FFFFFF);
    text-transform: capitalize;
}

h2 {
    @include font(Roboto, normal, 700, 36px, 28px, #FFFFFF);
}

h3 {
    @include font(Roboto, normal, 700, 24px, 28px, #FFFFFF);
}

h4 {
    @include font(Roboto, normal, 800, 28px, 35px, #FFFFFF);
}

p {
    @include font(Roboto, normal, 500, 16px, 28px, #FFFFFF);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.logo {
    display: flex;
    text-decoration: none;
    @include font(Roboto, normal, 700, 36px, 40px, #FFFFFF);
}

.header {
    position: fixed;
  width: 100%;

    .topbar {
        display: flex;
        flex-flow: row wrap;
        background: rgb(9 22 47 / 64%);
        padding: 10px;
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 12px;
        color: rgb(255, 196, 54);
        justify-content: space-evenly;
        align-items: center;

        .navbar {
            display: flex;
            padding: 30px;
            justify-content: space-around;

            align-items: center;
        }



        .flag {
            padding-bottom: 10px;
            width: 45px;
            height: 40px;
            background: url(../images/flag_ru.png);
        }

        .menu {
            display: flex;
            gap: 25px;

            .amenu {
                display: flex;
                text-decoration: none;
                @include font(Roboto, normal, 700, 16px, 15px, #FFFFFF);
            }

            .amenu:hover {
                color: #FFC436;
            }
        }
    }
}

.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.banner {
    display: flex;
    width: 100%;
    background: linear-gradient(82.14deg, rgba(7, 20, 50, 0.7) 31.87%, rgba(11, 23, 49, 0) 87.21%), url(../images/1.jpg);
    background-size:cover;
    .bannertextarea {
        display: flex;
        flex-direction: column;
        width: 622px;
        padding: 150px;

        .buttonbannerleft {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 160px;
            height: 50px;
            border-radius: 2px;
            background-color: #FFC436;
        }

        .buttonbannerleft:hover {
            opacity: 0.8;
        }

        .textbuttonleft {
            text-decoration: none;
            @include font(Roboto, normal, 700, 16px, 15px, #FFFFFF);
        }

        .buttonbannersection {
            display: flex;
            gap: 20px;

        }

        .buttonbannerright {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 160px;
            height: 50px;
            border-radius: 2px;
            background-color: #FFFDFD;
        }

        .buttonbannerright:hover {
            opacity: 0.8;
        }

        .textbuttonright {
            text-decoration: none;
            @include font(Roboto, normal, 700, 16px, 15px, #000000);
        }

    }

}

.onas {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    background: #09162F;
    gap: 20px;
    justify-content: space-evenly;
    padding-top: 30px;
    padding-bottom: 30px;

    .imgonas {
        background: url(../images/2.jpg);
        width: 735px;
        height: 480px;
    }

    .onastextarea {
        width: 735px;
        height: 480px;
    }
}


.liveandvirtual {
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(0deg, rgba(7, 20, 50, 0.8), rgba(7, 20, 50, 0.8)), url(../images/3.jpg);
    background-size: cover;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.live {
    gap: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    .game {
        display: flex;
        width: 312px;
        height: 400px;
        background: #14213a63;
        box-shadow: 0px 2px 8px #071737;
        border-radius: 8px;
        flex-direction: column;
        align-items: center;
    }

    .roulette {
        @extend %gameblock;
        background: url(../images/roulette.jpg);
    }

    .dogracing {
        @extend %gameblock;
        background: url(../images/dogracing.jpg);
    }

    .horseracing {
        @extend %gameblock;
        background: url(../images/horseracing.jpg);
    }

    .keno {
        @extend %gameblock;
        background: url(../images/keno.jpg);
    }

    .poker {
        @extend %gameblock;
        background: url(../images/poker.jpg);
    }

    .rusters {
        @extend %gameblock;
        background: url(../images/ruster.jpg);
    }

    .gametext {
        text-align: center;
    }

    .buttongame {
        display: flex;
        width: 140px;
        height: 40px;
        background: #FFC814;
        border-radius: 4px;
        justify-content: center;
        align-items: center;
    }

    .buttongame:hover {
        opacity: 0.8;
    }

    .abuttongame {
        text-decoration: none;
        @include font(Roboto, normal, 600, 16px, 18px, #22283C);
    }
}


.sovmestimost {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: #09162F;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;

    .sovmestimostelements {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 100px;

        .sovmestmostcontent {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .imgterminal {
            background: url(../images/xl.webp);
            width: 233px;
            height: 273px;
            border-radius: 8px;
            background-repeat: no-repeat;
        }

        .imgmonitor {
            background: url(../images/xxl.webp);
            width: 400px;
            height: 273px;
            border-radius: 8px;
            background-repeat: no-repeat;
        }

        .imgonline {
            background: url(../images/xxxl.webp);
            width: 233px;
            height: 273px;
            border-radius: 8px;
            background-repeat: no-repeat;
        }
    }
}

.onlinecasino {
    display: flex;
    width: 100%;
    background: linear-gradient(0deg, rgba(7, 20, 50, 0.8), rgba(7, 20, 50, 0.8)), url(../images/Online-casino-scaled.jpg);
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
    align-items: center;

    .contentonline {
        width: 735px;
    }
}

.contactsection {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    background: #0F1B33;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 60px;

    .contactinformation {
        display: flex;
        flex-direction: column;
        width: 411px;
        height: 547px;
        gap: 30px;

        .textcontact {
            display: flex;
            align-items: center;
            gap: 20px;

            .iconadress {
                @extend %icon;
                background-image: url(../images/icon1.png);
            }

            .icontel {
                @extend %icon;
                background-image: url(../images/icon2.png);
            }

            .iconemail {
                @extend %icon;
                background-image: url(../images/icon3.png);
            }

            .iconwebsite {
                @extend %icon;
                background-image: url(../images/icon4.png);
            }

            .textcontactinf {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .title {
                    @include font(Roboto, normal, 700, 20px, 10px, #FFFFFF);
                }

                .description {
                    @include font(Roboto, normal, 500, 16px, 28px, #FFFFFF);
                }
            }
        }
    }

    .formsection {
        display: flex;
        flex-direction: column;
        width: 575px;
        height: 538px;
    }

    .onestring {
        display: flex;
        gap: 35px;

        .name {
            border: 1px solid #14213A;
            width: 270px;
            height: 50px;
            background: #14213A;
        }
    }
    .twocolumnform {
        display: flex;
    flex-direction: column;
    align-items: center;
    .subject {
        margin-top: 30px;
        border: 1px solid #14213A;
        width: 568px;
        height: 50px;
        background: #14213A;
    }

    .textarea {
        margin-top: 30px;
        margin-bottom: 30px;
        border: 1px solid #14213A;
        background: #14213A;
        width: 568px;
        height: 210px;
    }

    }
    

    .buttonform {
        display: flex;
        width: 200px;
        height: 40px;
        background: #FFC814;
        border-radius: 4px;
        justify-content: center;
        align-items: center;
    }

    .abuttonform {
        text-decoration: none;
        @include font(Roboto, normal, 700, 16px, 15px, white);
    }

    .buttonform:hover {
        opacity: 0.8;
    }
}

.news {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    background: #09162F;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 60px;

    .subscibe {
        display: flex;

        .subscribeemail {
            border: 1px solid #14213A;
            width: 573px;
            height: 50px;
            background: #14213A;
        }

        .buttonsubscribe {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 160px;
            height: 54px;
            background-color: #FFC436;

            .asubscribe {
                text-decoration: none;
                @include font(Roboto, normal, 700, 16px, 15px, white);
            }
        }

        .buttonsubscribe:hover {
            opacity: 0.8;
            animation-name: buttonanimation;
            animation-duration: 4s;
        }
        @keyframes buttonanimation {
            from {width: 160px;}
            to {width: 200px;}
          }
    }
}

.footer {
    padding-top: 30px;
    padding-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(0deg, rgba(15, 27, 51, 0.9), rgba(15, 27, 51, 0.9)), url(../images/4.jpg);
    background-size: cover;
    justify-content: space-around;

    .leftfooter {
        display: flex;
        flex-direction: column;
        width: 329px;

        .socialicons {
            background: url(../images/social1.png);
            width: 220px;
            height: 38.89px;
            background-repeat: no-repeat;
        }
    }

    .leftnav {
        display: flex;
        flex-direction: column;
    }

    .footertitle {
        @include font(Roboto, normal, 700, 24px, 30px, #FFFFFF);
        padding-bottom: 20px;
    }

    .footerdescription {
        text-decoration: none;
        @include font(Roboto, normal, 600, 16px, 40px, #FFFFFF);
    }
    .footerdescription:hover{
        color: #FFC436;
    }

    .rightfooter {
        display: flex;
        flex-direction: column;
    }

    .imagefooter {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        width: 311px;
        height: 254px;
        gap: 10px;

        .dogracingfooter {
            background: url(../images/footerdog.jpg);
            @extend %footerimage;
        }

        .pokerfooter {
            background: url(../images/footerpoker.jpg);
            @extend %footerimage;
        }

        .horseracingfooter {
            background: url(../images/footerhorse.jpg);
            @extend %footerimage;
        }

        .kenofooter {
            background: url(../images/footerkeno.jpg);
            @extend %footerimage;
        }

        .roulettefooter {
            background: url(../images/footerroulette.jpg);
            @extend %footerimage;
        }

        .rustersfooter {
            background: url(../images/footerruster.jpg);
            @extend %footerimage;
        }
    }
}

.copyright {
    display: flex;
    background: #071737;
    height: 99px;
    justify-content: center;
    align-items: center;

    .allrights {
        @include font(Roboto, normal, 600, 15px, 18px, #FFFFFF);
    }
}
.roulettepage {
    @extend %pageonas;
    .imgroulettepage{
        background:url(../images/roulette-gambling-1024x683.jpg);
        width: 735px;
        height: 480px;
    }
}
.pokerpage {
    @extend %pageonas;
    .imgroulettepage{
        background:url(../images/Poker-1024x683.jpg);
        width: 735px;
        height: 480px;
    }
}
.rusterspage {
    @extend %pageonas;
    .imgroulettepage{
        background:url(../images/Cockfight-1024x575.jpg);
        width: 735px;
        height: 480px;
    }
}
.kenopage {
    @extend %pageonas;
    .imgroulettepage{
        background:url(../images/keno-1024x683.jpg);
        width: 735px;
        height: 480px;
    }
}
.horsepage {
    @extend %pageonas;
    .imgroulettepage{
        background:url(../images/Horse-racing-1024x683.jpg);
        width: 735px;
        height: 480px;
    }
}
.dogpage {
    @extend %pageonas;
    .imgroulettepage{
        background:url(../images/greyhounds2502a-1024x683.jpg);
        width: 735px;
        height: 480px;
    }
}
@media all and (max-width:1100px) {
    .live {
        gap: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .sovmestimost .sovmestimostelements {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    }
    @media all and (max-width:800px) {
        .banner {
            padding-top: 110px;
            padding-bottom: 24px;
            display: flex;
            width: 100%;
            background: linear-gradient(82.14deg, rgba(7, 20, 50, 0.7) 31.87%, rgba(11, 23, 49, 0) 87.21%), url(../images/1.jpg);
            background-size: cover;
            display: flex;
            justify-content: center;
        }
        .banner .bannertextarea {
            display: flex;
            flex-direction: column;
            width: 599px;
            align-items: center;
            padding: 0%;
        }
        .live {
            gap: 30px;
            display: grid;
            grid-template-columns: 1fr;
        }
        .sovmestimost .sovmestimostelements {
            display: grid;
            grid-template-columns: 1fr;
        }
        .onas .onastextarea {
            width: 500px;
    height: 620px;
    padding: 30px;
        }
        .onlinecasino .contentonline {
            width: 500px;
            padding: 30px;
        }
        .news .subscibe .subscribeemail {
            border: 1px solid #14213A;
            width: 220px;
            height: 50px;
            background: #14213A;
        }
        .contactsection .onestring {
            display: flex;
            align-items: center;
            gap: 35px;
            flex-direction: column;
        }
        .contactsection .onestring .name {
            border: 1px solid #14213A;
            width: 400px;
            height: 50px;
            background: #14213A;
        }
        .contactsection .twocolumnform .subject {
            margin-top: 30px;
            border: 1px solid #14213A;
            width: 400px;
            height: 50px;
            background: #14213A;
        }
        .contactsection .twocolumnform .textarea {
            margin-top: 30px;
            margin-bottom: 30px;
            border: 1px solid #14213A;
            background: #14213A;
            width: 400px;
            height: 210px;
        }
        .contactsection {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            background: #0F1B33;
            padding-top: 30px;
            padding-bottom: 130px;
            justify-content: center;
        }
        .footer {
            padding-top: 30px;
            gap: 30px;
            display: flex;
            padding-bottom: 60px;
            display: flex;
            background: linear-gradient(0deg, rgba(15, 27, 51, 0.9), rgba(15, 27, 51, 0.9)), url(../images/4.jpg);
            background-size: cover;
            flex-direction: column;
            align-items: center;
        }
}